html, body {
  background-color: white;
}

:root {
  font-family: "Montserrat", sans-serif, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --bulma-skeleton-background: white;
  --bulma-body-background-color: white;
  overflow-y: auto;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100vw;
  overflow-x: hidden;
  padding: 0;
  background-color: white;
  position: relative;
}

:is(div,body):has(#printer-friendly) {
  height: -webkit-fill-available;
  width: 100%;
  background-color: white;
}

#accessibility-toolbar:has(+section #printer-friendly) {
  display: none;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}

strong {
  color: initial;
}

